*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}

li {
  list-style: none;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.modal__backdrop--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal{
  display: flex;
  justify-content: center;
  position: relative;
  width: 600px;
  height: 400px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #ccc;
}

.modal__close-btn{
  position: absolute;
  top: 20px;
  right: 20px;
}

.notes-table,
.statistics-table {
  width: 1000px;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #ccc;
}

.title-list {
  display: flex;
  padding: 0 20px;
  line-height: 40px;
}

.title-list__item {
  width: 153px;
  font-size: 20px;
  font-weight: 500;
}

.statistics-table .title-list__item:first-child,
.statistics-table .note__content:first-child{
  width: 340px;
}

.statistics-table .note__content:last-child{
  margin: 0;
}

.title-list__item:not(:last-child),
.note__content:not(:last-child){
  margin-right: 30px;
}

.notes-list,
.statistics-list {
  display: flex;
  flex-direction: column;
}

.notes-list__item{
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #fff;
}

.note {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.note__content {
  width: 153px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
}

.note__content:last-child{
  margin-left: auto;
}

.controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin-left: auto;
}

.button,
.modal__close-btn,
.form__submit-btn{
  padding: 4px 6px;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.button:hover,
.modal__close-btn:hover,
.form__submit-btn:hover{
  background-color: #bbb6b6;
}

.button--create{
  margin-left: auto;
  display: block;
  padding: 10px 30px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: inherit;
  padding: 32px 20px;
}

.form__label {
  font-size: 20px;
  font-weight: 500;
}

.form__textarea {
  height: 60%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  resize: none;
}

.form__select{
  padding: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}


.form__submit-btn {
  margin-left: auto;
  padding: 10px 30px;
  font-weight: 500;
}